@media only screen and (max-width: 770px){
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: darkgrey;
    }
    .logo{
        width: 50%;
    }

}
hr{
    width: 80%;
    border: 0;
    height: 1px;
    background-color: darkgrey;
}
.navbar{
    display: flex;
    justify-content: center;
    font-size: medium;
    margin: 0;
}

#social{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: 0 auto;
}
.navbar{
    opacity: 0.83;
    background-color: transparent;
    border: 0;
    border-radius: 0%;

}
.navbar-inverse .navbar-nav>.active>a{
    background-color: transparent;
    color: darkgrey;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    border: 1px solid darkgrey;
    color: #05B5E4;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: transparent;
    color: darkgrey;
}
.fa{
    color: darkgrey;
}
.fa:hover{
    color: #05B5E4;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #05B5E4;
}
#carousel-example-generic{
    width: 80%;
    margin: 0 auto;
    z-index: -1;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: 100%; /* use this, or not */
    margin: auto;
    opacity: 0.83;
}
.dropdown-toggle{
    color: darkgrey;
}
#about{
    display: flex;
    width: 80%;
    font-size: medium;

}
.text-center{
    margin-top: 5%;
    margin-bottom: 5%;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #05B5E4;
}
.dropdown-menu>li>a {
    background-color: white;
    z-index: 1;
}
.navbar-toggle{
    margin-right: 0;
}
.navbar-inverse .navbar-nav>li>a:focus{
    color: darkgrey;
}
iframe{
    position: relative;
    margin-left: 25%;
    margin-bottom: 10%;
    width: 50%;
    height: 50%;
    border: 0;

}
#catalog{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.btn:hover{
    background-color: #05B5E4;
}
